html {
    font-family: inherit;
}

textarea {
    resize: none;
    font-family: inherit;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    align-self: flex-start;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-item label {
    margin-bottom: 0.5em;
}