textarea {
    resize: none;
    font-family: inherit;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.link {
    align-self: flex-start;
    font-size: 18px;
}

.post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 756px;
    min-width: 756px;
}

.post-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 1.5rem;
}

.post-image {
    margin: 0 auto;
    max-width: 756px;
    min-width: 756px;
    max-height: 756px;
    min-height: 0px;
}

.recipe-title {
    font-size: 22px;
    font-weight: 600;
}

.recipe-subtitle {
    font-size: 19px;
    font-weight: 600;
}

.post-main {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #2289ff;
    background: rgb(205, 225, 252);
    margin: 1.5rem 0;
    padding: 1.5rem 1rem;
    max-width: 100%;
}

.directions-div, .ingredients-div {
    overflow-wrap: break-word;
}

.ingredients-div {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.recipe-subtitle {
    margin-bottom: 1rem;
}


.post-ingredients, .post-directions {
    white-space: pre-wrap;
    line-height: 1.25;
}

.comments-div {
    max-width: 756px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 ;
}

.comments-title {
    font-size: 18px;
    font-weight: 600;
}

.comments-form {
    max-width: 756px;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.comments-form textarea {
    max-width: 756px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-color: #2289ff;
}

.comments-form button {
    align-self: flex-end;
}

.comment {
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}

.comment-body {
    margin-bottom: 0.5rem;
}

.button {
    padding: 0.5rem 0.75rem;
    color: white;
    background-color: #2289ff;
    border: none;
    border-radius: 0.125rem;
    transition: 500ms background-color, 500ms color;
}

.button:hover {
    color: #2289ff;
    background-color: white;
    cursor: pointer;
}

.button-delete {
    font-size: 13px;
    color: white;
    background-color: #f22;
}

.button-delete:hover {
    color: #f22;
    background-color: white;
}

/* .ingredients, .directions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 756px;
    box-sizing: border-box;
    text-align: center;
} */

/* .post-main p, .post-main h2 {
    margin-left: 18rem;
    width: 100%;
    max-width: 756px;
    min-width: 300px;
    font-weight: 350;
    box-sizing: border-box;
}

.post-directions, .post-directions {
    white-space: pre-wrap;
    flex: 1 0 0;
    text-align: center;
}

.directions {
    width: 100%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
} */