div {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
}

form, button, .calories {
    display: inline-block;
}

.food {
    text-align: left;
}

.servings {
    font-size: 0.75rem;
}

.flex {
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    align-items: center;
}

.diary, .diary-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.diary {
    justify-content: center;
    width: 100%;
    align-items: center;
}

.diary-container {
    justify-self: center;
    align-items: center;
}

.diary-title {
    color: #272838;
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 1rem;
    min-width: 1200px;
    max-width: 1200px;
    justify-content: space-between;
}

.diary-item {
    max-width: 48%;
    min-width: 48%;
    text-align: center;
    box-sizing: border-box;
}

.diary-item h2 {
    font-size: 1.1rem;
    background-color: #0270ee;
    color: #E8F1F2;
    padding: 0.5rem 0;
    border-radius: 4px;
}

.diary-item h2::after {
    content: "";
    width: 50%;
    position: relative;
    top: 25%;
    left: 0%;
    border-bottom: 5px solid red;
}

.diary-item p, form {
    color: rgb(90, 90, 90);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.food-name {
    font-weight: 600;
}

.food-options {
    display: flex;
    flex-wrap: nowrap;
}

.edit-button:hover, .edit-button:focus {
    text-decoration: underline rgb(90, 90, 90);
}

.fa, fa-edit, fa-close {
    background-color: transparent;
    border: none;
    font-size: .85rem;
    color: rgb(59, 59, 59);
    cursor: pointer;
}

.fa-edit:hover {
    color: rgb(255, 174, 0);
}

.fa-close:hover {
    color: red;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: .8rem !important;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: black;
    background-color: transparent;
    border: none;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

button > span > .material-icons {
    color: white;
}



.modal-add {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    box-sizing: border-box;
    overflow-y: visible;
}

.modal-content-add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    height: 52vh;
    border-radius: 0.5rem;
    box-sizing: border-box;
    word-wrap: break-word;
}

.close-button-add {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.close-button-add:hover {
    color: red;
}

.show-modal-add {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.search-image, .nutrients-tab {
    overflow-y:hidden;
}
    
img {
    max-width: 90%;
}

.search-box {
    background: white;
    height: 2.5rem;
    border-radius: 2.5rem;
    padding: 0.3rem 0.625rem;
    box-shadow: 0em 0em 1.5em 0.1em #0000006e;
}

.search-button {
    color: #2289ff;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background: white;
    border: none;
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.search-input {
    border:none;
    background: none;
    outline: none;
    float:left;
    color: black;
    font-size: 1rem;
    line-height: 2.5rem;
    width: 250px;
    padding: 0 0.5rem;
}

.search-icon {
    transform: scaleX(-1);
    font-size: 3rem;
    margin-bottom: 3px;
}

.search-button:hover, .search-button:focus {
    color: #1c7be7;
}

.result {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
}

.item, .item-result {
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: rgb(90, 90, 90);
    box-sizing: border-box;
    font-size: .85rem;
    transition: color 100ms ease-out;
}

.item-result:hover, .item-result:focus {
    color : #2289ff;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.button, .trigger, .button-two {
    margin-top: 0.5rem;
    padding: 0.25rem 0.75rem;
    color: white;
    background-color: #2289ff;
    border: none;
    border-radius: 0.125rem;
    transition: 500ms background-color, 500ms color;
}

.button:hover {
    color: #2289ff;
    background-color: white;
    cursor: pointer;
}
.trigger {
    font-size: 0.9rem;
    transition: background-color 100ms ease-in;
}

.trigger:hover, .trigger:focus, .button-two:hover, .button-two:focus, .arrow:hover, .arrow:focus {
    background-color: #1c7be7;
    cursor: pointer;
}

.date-div {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrow {
    color: white;
    background-color: #2289ff;
    padding: 0.125rem 0.25rem;
    border: none;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.arrow-span {
    font-size: 1.125rem !important;
    color: white;
}

input[type="date"] {
    border: none;
    outline: none;
    border-top: 2px solid #2289ff;
    border-bottom: 2px solid #2289ff;
    border-color: #2289ff;
    padding: 0.125rem 0.5rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -webkit-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 1224px) {
    .wrapper {
        max-width: 960px;
        min-width: 960px;
    }
}

@media (max-width: 984px) {
    .wrapper {
        max-width: 760px;
        min-width: 760px;
    }

    .modal-content-add {
        width: 42rem;
    }

    .search-input {
        width: auto;
    }
}

@media (max-width: 784px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        min-width: 654px;
        max-width: 654px;
        margin: auto;
    }

    .diary-item {
        min-width: 100%;
        max-width: 100%;
        margin: 2rem 0;
    }

    .trigger {
        margin-top: 0.75rem;
    }

    .modal-content-add {
        width: 600px;
        height: 540px;
    }

    .modal-container {
        flex-direction: column-reverse;
    }

    .edit {
        display: flex;
        flex-direction: column;
    }

    .search-box {
        width: max-content;
        align-self: center;
    }

    .search-image img {
        width: 350px;
    }
}

@media (max-width: 678px) {
    .wrapper {
        min-width: 350px;
        max-width: 350px;
    }

    .nutrient-container:first-of-type {
        margin-right: 0.25rem;
    }

    .nutrient-container:last-of-type {
        margin-left: 0.25rem;
    }

    .item {
        text-align: start;
        font-size: 0.75rem;
    }

    .servings {
        margin: none;
    }

    .modal-title {
        margin-bottom: none;
    }

    .modal-content-add {
        min-height: 95%;
        width: 100%;
        overflow-y: scroll;
    }

    .modal-add {
        overflow-y: scroll;
    }

}