  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <header>
    <nav class="navbar">
      <div class="brand-title"><a href="/">Fitness Hub</a></div>
      <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <% if(!currentUser) { %> 
            <li><a href="/about">About</a></li>
          <% } %> 
          <li><a href="/food">Foods</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <% if(!currentUser) { %> 
            <li><a href="/login">Login</a></li>
          <% }  else { %> 
            <li><a href="/diary">Food Diary</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %> 
        </ul>
      </div>
    </nav>
  </header>

  <script src="/js/header.js"></script>