<% layout("layouts/boilerplate")%>
      <div class="container-top">
        <div class="motto-container">
          <div class="motto-text">
            <h2>Fitness starts</h2>
            <h2>with what you eat.</h2>
          </div>
          <div class="motto-descrip">
            <p>Take action by tracking calories and</p>
            <p>breaking down ingredients with Fitness Hub.</p>
          </div>
          <div class="motto-button">
            <a href="/signup">Start For Free</a>
          </div>
        </div>
        <div class="eat-right">
          <img
            src="https://thumbs.dreamstime.com/b/bowl-oatmeal-porridge-ingredients-isolated-white-background-182417000.jpg"
            alt="Eat Right"
          />
        </div>
      </div>
      <div class="container-top row-reverse">
        <div class="motto-container">
          <div class="motto-text">
            <h2>Meet</h2>
            <h2>expectations.</h2>
          </div>
          <div class="motto-descrip">
            <p>Track your macros, calories, vitamins, and overall nutrition
            in foods all through Fitness Hub to meet your desired goals.</p>
          </div>
        </div>
        <div class="eat-right">
          <img
            src="https://images.unsplash.com/photo-1587486913049-53fc88980cfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
            alt="Eat Right"
          />
        </div>
        </div>
        <div class="container-top">
          <div class="motto-container">
            <div class="motto-text">
              <h2>Learn from</h2>
              <h2>real experiences.</h2>
            </div>
            <div class="motto-descrip">
              <p>Learn from blog posts that contain ingredients, recipes, personal stories and their adventures.</p>
            </div>
          </div>
          <div class="eat-right">
            <img
              src="https://images.unsplash.com/photo-1587049276124-b933e057e698?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
              alt="Eat Right"
            />
          </div>
        </div>
        <div class="search-div">
            <div class="search-content">
              <h1 class="search-title">Search foods for nutritional information.</h1>
              <div class="search-box">
                <form action="/food">
                  <input class="search-input" type="text" name="search" placeholder="Apple" autocomplete="off">
                  <button class="search-button" href="#">
                    <i class="search-icon">&#8981;</i>
                  </button>
                </form>
              </div>
              <div class="search-info">
                <div class="info-box">
                  <p>Search through thousands of foods with the Food Central database.</p>
                </div>
                <div class="info-box">
                  <p>Access calories, nutrients, and food portions.</p>
                </div>
                <div class="info-box">
                  <p>Log food in your food diary to keep track of what you eat.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="benefits-div">
          <h2 class="benefits-title">Benefits of Fitness Hub</h2>
          <div class="container-benefits">
            <div class="panel-advantage">
              <img src="icons/Eating healthy food 2.gif" alt="">
              <h3>Health</h3>
              <p>Get an understanding of why certain foods may not fit in your lifestyle, to better suit your goals.</p>
            </div>
            <div class="panel-advantage">
              <img src="icons/Diet 2.gif" alt="">
              <h3>Progression</h3>
              <p>Finally see results by getting the right amount of nutrition.</p>
            </div>
            <div class="panel-advantage">
              <img src="icons/Personal Trainer 2.gif" alt="">
              <h3>Motivation</h3>
              <p> Stay motivated by tracking what you eat, and learn your eating habits.</p>
            </div>
          </div>
          <div class="benefits-button">
            <a href="/signup" class="start-button">Start Now</a>
          </div>
        </div>
        <div class="recipe-div">
          <div class="recipe-content">
            <h2 class="recipe-title-div">Fitness Hub Recipes</h2>
            <div class="post">
              <% for (let i = 0; i < 3; i++) {%>
                  <figure class="recipe">
                          <img class="thumbnail" src="<%= recipes[i].image.thumbnail %>" alt="">
                          <div class="recipe-title-div-2">
                              <h2 class="recipe-title"><%= recipes[i].title %></h2>
                          </div>
                          <a class="link" href="/recipes/<%= recipes[i]._id %>">View Recipe</a>
                  </figure>
              <% } %>
      </div>  
          </div>
        </div>
      <!-- <div class="container-middle">
        <div class="motto-container">
        <div class="eat-right">
          <img src="https://images.unsplash.com/photo-1587049276124-b933e057e698?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="Onion">
        </div>
        <div class="middle-text">
          <h2>Why You Should Track</h2>
        </div>
      </div>
    </div> -->

<!-- https://images.unsplash.com/photo-1587486913049-53fc88980cfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80 -->
<!-- https://thumbs.dreamstime.com/b/bowl-oatmeal-porridge-ingredients-isolated-white-background-182417000.jpg -->
<!-- https://unsplash.com/photos/KPOwqvdZ34o -->
<!-- https://images.unsplash.com/photo-1587334207477-cb3e3ff0637f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60 -->
<!-- https://ghwcc.org/wp-content/uploads/2018/09/Eat-Right1.jpg -->
