.hidden {
    display: none;
    opacity: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-main {
    display: flex;
    flex-direction: column;
    max-width: 764px;
    /* border-bottom: 1px solid lightgrey; */
}

.page-title {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgrey;
}

.page-content {
    margin: 1rem 0;
    font-size: 1.05rem;
    line-height: 1.5rem;
}

.page-content span {
    color: #2289ff;
    font-weight: 700;
    font-size: 1.2rem;
}

.container-faq {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 960px;
    max-width: 960px;
    margin: 1rem 0;
}

.faq-title {
    /* color: #2289ff; */
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

.faq-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #2289ff;
    padding: 0.3rem;
    border-radius: 0.25rem;
}

.faq-subtitle h3 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 0 0.5rem;
}

.faq-item {
    min-width: 50%;
    max-width: 50%;
    margin: 0.5rem 0;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0.75rem 0; */
    /* margin: 1rem 0; */
    /* border-top: 1px solid lightgrey; */
    /* border-bottom: 1px solid lightgrey; */
    cursor: pointer;
}

.answer {
    overflow: hidden;
    /* overflow-y: auto; */
    height: 0;
    /* max-height: 75px; */
    opacity: 0;
    font-size: 1.05rem;
    line-height: 1.5rem;
    transition: 500ms;
    /* transition: height 500ms, padding 500ms, margin-top 500ms, opacity 500ms; */
    /* padding: 0.5rem 0; */
}

.arrow {
    /* align-self: center; */
    height: 30px;
    width: 30px;
    /* padding: 1rem 0.75rem;
    padding-bottom: 1.25rem; */
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: transform 200ms ease-in-out;
}

.arrow::selection {
    background-color: #2289ff;
}

.faq-item.show .answer {
    /* padding: 0.5rem 0; */
    margin-top: 1.25rem;
    height: 135px;
    opacity: 1;
    align-self: center;
}

.faq-item.show .arrow {
    transform: rotateZ(-180deg);
}

.button-div {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    background-color: #2289ff;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 500ms background-color, 500ms color;
}

.button:hover {
    background-color: white;
    color: #2289ff;
}