.hidden {
    display: none;
    opacity: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-main {
    display: flex;
    flex-direction: column;
    max-width: 764px;
}

.page-title {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgrey;
}

.page-content {
    margin: 1rem 0;
    font-size: 1.05rem;
    line-height: 1.5rem;
}

.page-content span {
    color: #2289ff;
    font-weight: 700;
    font-size: 1.2rem;
}

.container-faq {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 1rem 0;
}

.faq-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

.faq-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #2289ff;
    padding: 0.3rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.faq-subtitle h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: white;
    padding: 0 0.5rem;
}

.faq-item {
    margin: 0.5rem 0;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.answer {
    overflow: hidden;
    height: 0;
    opacity: 0;
    font-size: 1.05rem;
    line-height: 1.5rem;
    transition: 500ms;
}

.arrow {
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: transform 200ms ease-in-out;
}

.arrow::selection {
    background-color: #2289ff;
}

.faq-item.show .answer {
    margin-top: 1.25rem;
    height: 135px;
    opacity: 1;
    align-self: center;
}

.faq-item.show .arrow {
    transform: rotateZ(-180deg);
}

.button-div {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    background-color: #2289ff;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 500ms background-color, 500ms color;
}

.button:hover {
    background-color: white;
    color: #2289ff;
}

@media (max-width: 768px) {
    .content-main {
        width: 540px;
    }
}

@media (max-width: 554px) {
    .content-main, .container-faq {
        width: 412px;
    }
}

@media (max-width: 426px) {
    .content-main, .container-faq {
        width: 360px;
    }

    .page-title {
        text-align: center;
    }

    .faq-subtitle h3 {
        font-size: 17px;
    }
}