/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

html, input[type="text"] {
    font-family: 'Karla', sans-serif;
}

main {
    margin: 0 1.5em;
}

header {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: #2289ff;
}

.panel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.panel-header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em;
}

.panel-header h1 {
    color: #2289ff;
    font-size: 3em;
    font-weight: 500;
}

.panel-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-option a {
    margin: 0px 1em;
}

.panel-option a:hover {
    color: #fb8500;
}

.panel:last-child {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav {
    background-color: #0076fd;
    height: 3em;
}

.nav-option {
    margin: 0 3rem;
}

.nav-option a {
    font-size: 1.25em;
    padding: .75rem .75rem;
    color: white;
}

.nav-option a:hover {
    color: rgba(251, 133, 0, 75%);
}

.page-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search {
    margin: 5em auto;
    text-align: center;
}

input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.nutrition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 2em;
    font-weight: 600;
}

.description {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.nutrition > p {
    margin: 1em;
    font-size: 1.5rem;
}

.nutrition-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    max-width: 960px;
}

.nutrition-section {
    width: 100%;
    margin: 0 1em;
}

 .item {
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: rgb(90, 90, 90);
}

#searchFood {
    padding: 0.5em 1em;
}





@media (max-width: 1250px) {
    .container-top .motto-container {
        text-align: center;
    }
    .motto-text {
        font-size: 2em;
    }
    .eat-right img {
        width: 400px;
    }
}

@media (max-width: 1199px) {
    .motto-container {
        text-align: center;
    }

    body {
        font-size: 0.8em;
    }

    .page-title {
        font-size: 75px;
    }

    .motto-descrip {
        font-size: 1.5em;
    }

    .container-benefits .panel-advantage {
        flex-direction: row;
        font-size: 0.5em;
    }

    .panel-advantage:last-child {
        border-right: none;
    }
}

@media (max-width: 1075px) {
    .container-top {
        flex-direction: column;
    }

    .motto-descrip {
        font-size: 1.5rem;
    }

    .container-benefits {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    .panel-advantage {
        width: 70%;
    }

    .panel-advantage p {
        font-size: 1.5rem;
    }
}

@media (max-width: 760px) {

    .motto-descrip {
        font-size: 1rem;
    }

    .container-benefits {
        width: 100%;
    }

    .panel-advantage {
        width: 100%;
    }

    .panel-advantage p {
        font-size: 1rem;
    }
}