<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
    <link rel="stylesheet" href="../css/partials/header.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@350;400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <%- include("../partials/header") %> 
    <%- include("../partials/flash") %> 
    <h1>Food Diary</h1>
    <div>
        <% for(diary of foodDiary) { %> 
        <a href="/diary/<%= diary.date %>"><%= diary.date %></a>
        <% } %> 
    </div>
</body>
</html>