html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
}

.title-container {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 2em;
    font-weight: 600;
}

.amount {
    margin: 0.25rem 0;
}

.ss-container {
    text-align: left;
}

.amount, .ss-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 960px;
}

.nutrient-container {
    width: 100%;
    margin: 0 1em;
}

.container > p {
    margin: 1em;
    font-size: 1.5rem;
}

.item {
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: rgb(90, 90, 90);
}

.unit {
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
}

select, input[type="number"], input[type="date"] {
    padding: 0.125rem 0.25rem;
    border: 1px solid #2289ff;
}

select:focus, input[type="number"]:focus, input[type="date"]:focus {
    outline-color: #2289ff;
}

select:first-of-type, input[type="number"] {
    margin-top: 0.15rem;
}

.button {
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: #2289ff;
    color: white;
    transition: 200ms background-color ease-in-out;
}

.button:hover {
    background-color: #0270ee;
    cursor: pointer;
}

.margin {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
}

@media (max-width: 430px) {

    .nutrient-container {
        margin: 0 0.5rem;
    }

    .item {
        font-size: 0.75rem;
    }

}